body {
    background: linear-gradient(to bottom, aliceblue, hsl(36, 100%, 50%));
    min-height: 100vh;
}

h1 {
    display: flex;
    justify-content: center;
}

.funcs {
    display: grid;
    place-items: center;
}

.title {
    font-size: 1.5rem;
    text-decoration: underline;
}

.power, 
.factorial, 
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    border-radius: 25px;
    padding: 2rem;
    margin: 1rem;
}

.power > *,
.factorial > *,
.product > *{
    margin: 0.2rem;
}